<!DOCTYPE html>

<html>
<head>
    <title>GUMMYBEARKINGDOM</title>
</head>
<body>
    <header>
        <div class = "content-wrapper">
            @Html.Partial("_Header.cshtml")
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>