@model IEnumerable<GummyBearKingdom.Models.Product>
@{ 
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<ul>
    @foreach(var product in Model)
    {
        <li>@product.Name @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })</li>
    }
</ul>

@Html.ActionLink("Add new Product", "Create")