@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Hover Over the Images</h1>
<div class="accordion">
    <ul>
        <li>
            <div>
                
                <a href="/">
                    <h2>Click Here</h2>

                    <p id="subtext">to go home...</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/Countries">
                    <h2>Click Here</h2>
                    <p id="subtext">to look at countries....</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/Products">
                    <h2>Click here</h2>
                    <p id="subtext">to look at products...</p>
                </a>
            </div>
        </li>
        @*<li>
            <div>
                <a href="#">
                    <h2>Some Text</h2>
                    <p id="subtext">Some placeholder text goes here.</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <h2>Some Text</h2>
                    <p id="subtext">Some placeholder text goes here.</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <h2>Some Text</h2>
                    <p id="subtext">Some placeholder text goes here.</p>
                </a>
            </div>
        </li>*@
    </ul>
</div>
<div>
    <video loop autoplay preload="metadata" class="slick-list" width="731" height="411">
        <source src="https://cdn2.unrealengine.com/ueOverview%2FTopCarousel%2FSizzleForWeb2-3ac4d0248789094033bcfe038a67128bd8bb5733.mp4"/>

    </video>
</div>