@model GummyBearKingdom.Models.Country
@{ 
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@foreach(var product in @ViewBag.ProductFromCountries)
{
    if(Model.CountryId == product.CountryId)
    {
        <p>@product.Name</p>
    }
}


