@{ 
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@model IEnumerable<GummyBearKingdom.Models.Country>

<ul>
    @foreach(var country in Model)
    {
        <li>@country.Name</li>
    }
</ul>

<p>@Html.ActionLink("Add new Country", "Create")</p>