@{ 
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@model IEnumerable<GummyBearKingdom.Models.Country>

<ul>
    @foreach(var country in Model)
    {
        <li>@country.Name @Html.ActionLink("Edit", "Edit", new { id = country.CountryId }) @Html.ActionLink("Delete", "Delete", new { id = country.CountryId }) </li>
    }
</ul>

<p>@Html.ActionLink("Add new Country", "Create")</p>